<footer class="main-footer"><!-- !.main-footer -->
  <div class="container">

    <div class="termeni"><br>
      <span class="list-inline">
								<a href="https://www.facebook.com/ulbsibiu" title="Facebook">
									<span class="fa-stack fa-lg icon-facebook">

									  <strong class="fa fa-facebook fa-stack-1x">.</strong>
									</span>
									</a>
								<a href="https://twitter.com/ulbsibiu" title="Twitter">
									<span class="fa-stack fa-lg icon-twitter">
									  <strong class="fa fa-twitter fa-stack-1x">.</strong>
									</span>
								</a>
								<a href="https://www.youtube.com/user/ULBSibiuTV" title="Youtube">
									<span class="fa-stack fa-lg icon-youtube">

									  <strong class="fa fa-youtube fa-stack-1x">.</strong>
									</span>
								</a>

								<a href="https://linkedin.com/school/ulbs/" title="Linkedin">
									<span class="fa-stack fa-lg icon-linkedin">

									  <strong class="fa fa-linkedin fa-stack-1x">.</strong>
									</span>
								</a>

								<a href="https://www.instagram.com/universitatealucianblaga/" title="Instagram">
									<span class="fa-stack fa-lg icon-instagram">

									  <strong class="fa fa-instagram fa-stack-1x">.</strong>
									</span>
								</a>

							</span>
    </div>

    <div class="termeni">

      <ul class="nav-footer">
        <li><p class="copyright">© 2018-2023 <a href="http://ccom.ulbsibiu.ro">Direcția de Informatizare și Comunicații </a>  </p></li>
      </ul>

      <ul id="menu-bottom-navigation-ro" class="menu nav-footer inline"><li> | <a href="https://www.ulbsibiu.ro/ro/termeni-si-conditii/">Termeni și condiții</a> | </li>
        <li> | <a href="https://www.ulbsibiu.ro/ro/politica-confidentialitate/">Politica de confidentialitate</a> | </li>
        <li> | <a href="https://www.ulbsibiu.ro/ro/politica-cookies/">Politica cookies</a> | </li>
      </ul>

    </div>


    <div class="termeni">
      <ul class="nav-footer inline">

        <li><p class="copyright"><a href="https://www.ulbsibiu.ro">Universitatea „Lucian Blaga" din Sibiu</a><br>Adresa: Bd-ul Victoriei nr.10, Sibiu, 550024, România<br>Tel: +40-(269) 21.77.79 <br>Fax: +40-(269) 21.78.87<br>E-mail: rectorat@ulbsibiu.ro<br>Web: <a href="https://www.ulbsibiu.ro/">https://www.ulbsibiu.ro</a><br><a href="https://www.ulbsibiu.ro/#">Home</a>
        </p></li>
      </ul>
    </div>



  </div>
</footer>
